  <% if @connect_request.present? %>

    <% content_for :head do %>
      <%= javascript_include_tag 'popover' %>
      <%= javascript_include_tag 'modal-dialog-center' %>
      <%= javascript_include_tag 'connections_accept_reject.js' %>
    <% end %>

    <div class='container'>

      <div class='row'>
        <div class='col-lg-12'>
          <%= render partial: 'shared/page_header', object: 'Connect Request' %>
        </div>
      </div>

    <div class='row'>
      <div class='col-lg-12'>
          <%= form_tag connections_request_path, method: :post, class: 'form-horizontal input-lg' do %>

            <%= hidden_field_tag :user_id, @connect_request.user_profile.user_id %>
            <%= hidden_field_tag :user_profile_id, @connect_request.request_user_profile_id %>
            <%= hidden_field_tag :request_token, @connect_request.request_token %>
            <%= hidden_field_tag :request_action %>

            <div class='form-group'>
              <label class='col-lg-2 control-label'>Instructions</label>
              <div class='col-lg-10 form-control-static instructions'>
                <p>This user wants to connect with you. Connecting with other users enable you to exchange contact information; this enables you to maintain an ongoing professional relationship. Remember: connections are only beneficial to the degree your skills are compatible. Connecting with users whose skills are <i>incompatible</i> limits your connection to a social (non-professional) relationship.</p> 
                <p>To accept this request click the <i>Accept</i> button. To reject this request click the <i>Reject</i> button.</p>
              </div>
            </div>

            <div class='form-group'>
              <label class='col-lg-2 control-label'>Name</label>
              <%= render partial: 'shared/anonymous_personal_info', locals: {html_tag: :p, label: 'Anonymous', fa_icon: 'fa-user', css_class: 'form-control-static col-lg-10'} %>
            </div>

            <div class='form-group'>
              <label class='col-lg-2 control-label'>Profile Type</label>
              <p class='form-control-static col-lg-10'>
                <%= render partial: 'shared/profile_type_label', locals: { profile_type: @connect_request.user_profile.type} %>
              </p>
            </div>

            <div class='form-group'>
              <label class='col-lg-2 control-label'>Skills</label>
              <p class='form-control-static col-lg-10'>
                <%= render partial: 'shared/skill', collection: @connect_request.user_profile.all_skills, as: :skill %>
              </p>
            </div>

            <div class='form-group'>
              <label class='col-lg-2 control-label'>Contact Info</label>
              <%= render partial: 'shared/anonymous_personal_info', locals: {html_tag: :p, label: 'Unavailable', fa_icon: 'fa-envelope', css_class: 'form-control-static col-lg-10'} %>
            </div>

            <div class='form-group'>
              <label class='col-lg-2 control-label'>&nbsp;</label>
              <%= render partial: 'shared/anonymous_personal_info', locals: {html_tag: :p, label: 'Unavailable', fa_icon: 'fa-phone-square', css_class: 'form-control-static col-lg-10'} %>
            </div>

            <div class='form-group form-group-lg'>
              <div class='col-lg-10 col-md-offset-2'>&nbsp;</div>
            </div>

            <div class='form-group form-group-lg'>
              <%= content_tag :div, class: 'col-lg-10 col-md-offset-2' do %>  
                <%= button_tag 'Reject', id: 'btn-reject', class: 'btn btn-lg btn-default btn-cancel form-control', style: 'min-width:auto;max-width:25%;' %>
                <%= button_tag 'Accept', id: 'btn-accept', class: 'btn btn-lg btn-special dark form-control', style: 'min-width:auto;max-width:25%;' %>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>

  </div>

  <%= render partial: 'shared/modal_dialog' %>

<% end %>