<table class='table table-striped input-lg'>
  <thead>
    <tr>
      <th>User</th>
      <th>Profile Type</th>
      <th>&nbsp;<th/>
    </tr>
  </thead>
  <tbody>
    <% user_profiles.each do | profile | %>
    <tr>
      <%= content_tag :td, style: 'width:25%;' do %>
        <%= content_tag :i, nil, class: 'fa fa-user fa-2x pull-left' %>Anonymous
      <% end %>
      <%= content_tag :td, style: 'width:50%;' do %>
        <% css_class = profile.type.match(/recruiter/i) ? 'label-success' : 'label-primary' %>
        <%= render partial: 'shared/profile_type_label', locals: { profile_type: profile.type} %>
      <% end %>
      <td>
        <%= link_to root_path, { class: 'pull-left btn btn-edit transparent', title: 'View profile' } do %>
          <%= content_tag :i, nil, class: 'fa fa-eye fa-2x' %>
        <% end %>

        <%= button_to root_path, { class: 'btn btn-edit transparent', title: 'Request to connect', data: { profile_name: "#{profile.profile_name}" } } do %>
          <%= content_tag :i, nil, class: 'fa fa-link fa-2x' %>
          <%= hidden_field_tag :profile_id, profile.id %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>