<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui/autocomplete' %>
  <%= javascript_include_tag 'jquery-ui/autocomplete' %>
  <%= javascript_include_tag 'skills-search.js' %>
<% end %>

<div class='container'>
  <div class='row'>
    <div class='col-lg-12'>
        <%= render partial: 'shared/page_header', object: 'Search' %>
    </div>
  </div>
</div>

<div class='container'>
  <%= form_for @search_criteria, 
                      url: search_path,
                      builder: InlineErrorsBuilder,
                      method: :POST,
                      role: :form do |f| %>
    <div class='row'>
      <div class='col-lg-8'>     
        <%= content_tag :div, class: f.validation_class(:search_string, "form-group form-group-lg") do %>
          <%= f.text_field :search_string, placeholder: 'e.g. ruby on rails, rspec, capybara, factory girl, etc.', class: 'search-textbox form-control input-lg' %>
          <%= f.errors_for :search_string %>
        <% end %>
      </div>
      <div class='col-lg-4'>     
        <%= button_tag type: :submit, class: 'btn btn-lg btn-special dark pull-left', style: 'width:48%;' do %>
          <i class='fa fa-search fa-lg pull-left'></i>Search
        <% end %>
        <%= button_tag 'Clear', class: 'btn btn-lg btn-default btn-cancel dark pull-right', style: 'width:48%;', onclick: 'return false;' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-lg-12'>
          <%= content_tag :div, class: 'form-group-lg panel skills-container' do %>
            <%= f.fields_for :search_skills, @search_criteria.search_skills do |f| %>
              <%= content_tag :span do %>
                <%= f.button :name, type: :button, class: 'btn btn-lg btn-skill' do %>
                  <i class='fa fa-times fa-lg'></i>&nbsp;<%= f.object.skill_name %>
                <% end %>
                <%= f.hidden_field :skill_name, class: 'btn-skill-name' %>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class='row'>
      <div class='col-lg-3'>
          User id.
      </div>
      <div class='col-lg-3'>
          Profile.
      </div>
      <div class='col-lg-3'>
          Skills.
      </div>
      <div class='col-lg-3'>
          Rate/Options.
      </div>
    </div>
    
  <% end %>
</div>