<%= form_for @user_profile, 
                    url: profiles_path,
                    builder: InlineErrorsBuilder,
                    method: :POST,
                    role: :form do |f| %>
  <%= content_tag :div, class: f.validation_class(:profile_name, "form-group") do %>
    <%= f.text_field :profile_name, placeholder: "Profile name", class: 'form-control', autocomplete: :off %>
    <%= f.errors_for :profile_name %>
  <% end %>

  <%= content_tag :div, class: f.validation_class(:profile_type, 'form-group') do %>
    <%= f.radio_button :profile_type, 'software_developer_profile', class: 'inline' %>
    <%= f.label :profile_type, 'Software Developer Profile', value: 'software_developer_profile' %>
    <%= f.radio_button :profile_type, 'technical_recruiter_profile', class: 'inline' %>
    <%= f.label :profile_type, 'Technical Recruiter Profile', value: 'technical_recruiter_profile' %>
    <%= f.errors_for :profile_type %>
  <% end %>

  <%= content_tag :div, class: f.validation_class(:skills, 'form-group panel panel-gray') do %>
    <div class="panel-heading"><%= label_tag 'Skills' %></div>
    <div class='panel-body'>
      <%= content_tag :div, class: 'form-group panel input-group' do %>
        <%= text_field_tag :skill_search, nil, placeholder: 'Skill search...', class: 'form-control skill-search', autocomplete: :off %>
        <span class='input-group-btn'>
          <button class='btn btn-default skill-button' type='button'>Add Skill</button>
        </span>
      <% end %>

      <!-- TODO: Move to InlineErrorsBuilder - start /-->
      <%= content_tag :div, class: 'form-group panel skills-container', style: 'min-height:250px;' do %>
        <%= f.fields_for :skills do | f | %>
          <%= content_tag :span do %>
            <%= f.button :name, type: :button, class: 'btn btn-skill' do %>
              <i class='fa fa-times fa-lg'></i>&nbsp;<%= f.object.name %>
            <% end %>
            <%= f.hidden_field :id, class: 'btn-skill-id' %>
            <%= f.hidden_field :name, class: 'btn-skill-name' %>
          <% end %>
        <% end %>
      <% end %>
      <!-- TODO: Move to InlineErrorsBuilder - end /-->
      
    </div>
  <% end %>

  <div class='form-group'>
    <span class='terms-agreements small'>Click the <i>Create</i> button below to create a new profile.</span>
  </div>

  <%= content_tag :div, class: "form-group tall" do %>  
    <%= f.submit 'Create', class: 'btn btn-sm btn-warning _pull-right special-button form-control', style: 'min-width:auto;max-width:25%;' %>
  <% end %>
<% end %>