<%= form_for resource, :url => user_registration_path,
                       :builder => InlineErrorsBuilder,
                       :method => :POST,
                       :role => :form do |f| %>
  <%= content_tag :div, :class => f.validation_class(:email, "form-group") do %>
    <%= f.email_field :email, placeholder: "Email", class: 'form-control', autocomplete: :off %>
    <%= f.errors_for :email %>
  <% end %>

  <%= content_tag :div, :class => f.validation_class(:password, "form-group") do %>
    <%= f.password_field :password, placeholder: "Password", class: 'form-control', autocomplete: :off %>
    <%= f.errors_for :password %>
  <% end %>

  <%= content_tag :div, :class => f.validation_class(:password, "form-group") do %>
    <%= f.password_field :password_confirmation, :placeholder => "Re-enter password", :class => 'form-control', autocomplete: :off %>
    <%= f.errors_for :password_confirmation %>
  <% end %>

  <%= content_tag :div, :class => f.validation_class(:profile, 'form-group') do %>
    <%= radio_button_tag :profile, 'software_developer_profile', checked: false, class: 'inline' %>
    <%= label :software_developer_profile, 'I am a Developer' %>
    <%= radio_button_tag :profile, 'technical_recruiter_profile', checked: true, class: 'inline' %>
    <%= label :technical_recruiter_profile, 'I am a Recruiter' %>
  <% end %>

<%
=begin
%>
  <%= content_tag :div, :class => f.validation_class(:referral_code, 'form-group') do %>
    <%= f.text_field :referral_code, placeholder: 'Enter referral code', class: 'form-control', disabled: 'disabled' %>
  <% end %>
<%
=end
%>

  <div class='form-group'>
    <%= text_field_tag :referral_code, params[:referral_Code], placeholder: 'Enter referral code', class: 'form-control', disabled: 'disabled' %>
  </div>

  <div class='form-group'>
    <span class='terms-agreements small'>By clicking Sign Up, you agree to out Terms and that you have read our Data Usage Policy, including our Cookie Use.</span>
  </div>

  <%= content_tag :div, class: "form-group tall" do %>  
    <%= f.submit 'Sign up', class: 'btn btn-sm btn-warning _pull-right special-button form-control' , style: 'width:100%' %>
  <% end %>
<% end %>