<table class='table table-striped input-lg'>
  <thead>
    <tr>
      <th>Profile Name</th>
      <th>Profile Type</th>
      <th>Created</th>
      <th>&nbsp;<th/>
    </tr>
  </thead>
  <tbody>
    <% user_profiles.each do | profile | %>
    <tr>
      <%= content_tag :td, profile.profile_name %>
      <%= content_tag :td do %>
        <% css_class = profile.type.match(/recruiter/i) ? 'label-success' : 'label-primary' %>
        <span class='label <%=css_class %>'><%=profile.type.titleize %></span>
      <% end %>
      <%= content_tag :td, profile.created_at.strftime('%m-%d-%Y') %>
      <td>
        <%= link_to edit_profile_path(profile), { class: 'pull-left btn btn-edit transparent', title: 'Edit profile' } do %>
          <%= content_tag :i, nil, class: 'fa fa-pencil fa-2x' %>
        <% end %>

        <%= button_to destroy_profile_path, { method: :delete, class: 'btn btn-delete transparent', title: 'Delete profile', data: { profile_name: "#{profile.profile_name}" } } do %>
          <%= content_tag :i, nil, class: 'fa fa-times fa-2x' %>
          <%=hidden_field_tag :profile_id, profile.id %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>