

<% content_for :right_header do %>
  <div class='clearfix _container-fluid pull-right form-inline'>
    <%= form_tag root_path do %>
      <div class='row'>
        <div class='col-md-4'>
          <%= text_field_tag :email, params[:email], class: '_form-control', placeholder: 'Email or username' %>
        </div>

        <div class='col-md-4'>
          <%= text_field_tag :password, params[:password], type: 'password', class: '_form-control', placeholder: 'Password' %>
        </div>  

        <div class='col-md-4 actions'>
          <%= submit_tag 'Log In', class: 'btn btn-sm btn-default special-button' %>
        </div>
      </div>


      <div class='row'>
        <div class='col-md-4'>
          <%= label_tag :keep_signed_in, class: 'checkbox nowrap' do %>
            <%= check_box_tag :keep_signed_in, params[:keep_signed_in], false %>
            Keep me logged in
          <% end %>
        </div>

        <div class='col-md-8'>
          <%= link_to '#', class: 'underline nowrap' do %>
             Forgot your password?
          <% end %>
        </div>  
      </div>
    <% end %>
  </div>
<% end %>


<div style='padding-left:50px;'>
  <div class="row">
    <div class="col-md-4 panel panel-default">
      <div class="pull-left">
        <h4>Are you new? <span>Sign up</span></h4>
      </div>
      <div class="clearfix"></div>
      <hr />
      <%= render :partial => 'shared/sign_up' %>
    </div>
<%
=begin
%>
    <div class='col-md-4'>
      <h1><small>Sign Up</small></h1>
      <%= form_tag root_path do %>
        <div class='form-group'>
          <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Enter your email' %>
          <%= text_field_tag :email_confirm, params[:email_confirm], class: 'form-control', placeholder: 'Re-enter your email' %>
        </div>
        <div class='form-group'>
          <%= text_field_tag :password, params[:password], type: 'password', class: 'form-control', placeholder: 'New password' %>
        </div>
         <div class='form-inline form-group' style='margin-bottom:0 !important'>
           <%= label_tag :technical_rectuiter, class: 'radiobutton' do %>
            <%= radio_button_tag :user_type, :software_developer, false, class: '_form-control', style: 'inline' %>
            I'm a <i>Developer</i>
          <% end %>
          <%= label_tag :technical_rectuiter, class: 'radiobutton' do %>
            <%= radio_button_tag :user_type, :technical_rectuiter, true, style: 'inline' %>
            I'm a <i>Recruiter</i>
          <% end %>
        </div>
         <div class='form-group'>
          <%= text_field_tag :referral_code, params[:referral_Code], class: 'form-control', placeholder: 'Enter referral code' %>
        </div>
        <div class='form-group'>
          <span class='terms-agreements small'>By clicking Sign Up, you agree to out Terms and that you have read our Data Usage Policy, including our Cookie Use.</span>
        </div>
        <div class='actions form-group'>
          <%= submit_tag 'Sign up', class: 'btn btn-sm btn-default special-button', style: 'width:100%' %>
        </div>
      <% end %>
    </div>
<%
=end
%>
    <div class='col-md-8'>
      <div class="jumbotron">
        <h1>You need the</h1>
        <p>RealCruiter</p>
        <p>.community</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(function () {
    if ($('#user_type_technical_rectuiter').is(':checked')) {
      $('#referral_code').show();
    } else {
      $('#referral_code').hide();
    }

    $('input[name=user_type]:radio').change(function () {
      $('#referral_code').toggle(250);
      $('#referral_code').val('');
    });
  });
</script>

