<% content_for :head do %>
  <%= javascript_include_tag 'modal-dialog-center' %>
  <%= javascript_include_tag 'user_profiles_show.js' %>
<% end %>

<div class='container'>

  <div class='row'>
    <div class='col-lg-12'>
      <%= render partial: 'shared/page_header', object: 'View Profile' %>
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-12'>
        <%= form_tag class: 'form-horizontal input-lg'>

          <div class='form-group'>
            <label class='col-lg-2 control-label'>Name</label>
            <p class='form-control-static col-lg-10'>
              <%= content_tag :i, nil, class: 'fa fa-user fa-lg pull-left' do %>
                &nbsp;Anonymous
              <% end %>
            </p>
          </div>

          <div class='form-group'>
            <label class='col-lg-2 control-label'>Profile Type</label>
            <p class='form-control-static col-lg-10'>
              <%= render partial: 'shared/profile_type_label', locals: { profile_type: @user_profile.type} %>
            </p>
          </div>

          <div class='form-group'>
            <label class='col-lg-2 control-label'>Skills</label>
            <p class='form-control-static col-lg-10'>
              <%= render partial: 'shared/skill', collection: @user_profile.all_skills, as: :skill %>
            </p>
          </div>

          <div class='form-group'>
            <label class='col-lg-2 control-label'>Contact Info</label>
            <p class='form-control-static col-lg-10'>
              <%= content_tag :i, nil, class: 'fa fa-envelope fa-lg pull-left' do %>
                &nbsp;Unavailable
              <% end %>
            </p>
          </div>

          <div class='form-group'>
            <label class='col-lg-2 control-label'>&nbsp;</label>
            <p class='form-control-static col-lg-10'>
              <%= content_tag :i, nil, class: 'fa fa-phone-square fa-lg pull-left' do %>
                &nbsp;Unavailable
              <% end %>
            </p>
          </div>

        <div class='form-group form-group-lg'>
          <div class='col-lg-10 col-md-offset-2'>&nbsp;</div>
        </div>

        <div class='form-group form-group-lg'>
          <div class='col-lg-10 col-md-offset-2'>
            <%
            button_name = 'Connect'
            instructions = "Click the <i>#{button_name}</i> button below to request to connect to this user." 
            %>
            <span class='instructions'><%= instructions.html_safe %></span>
          </div>
        </div>

        <div class='form-group form-group-lg'>
          <%= content_tag :div, class: 'col-lg-10 col-md-offset-2' do %>  
            <%= link_to 'Cancel', root_path, class: 'btn btn-lg btn-default btn-cancel form-control', style: 'min-width:auto;max-width:25%;' %>
            <%= button_tag button_name, id: 'btn-request-connect', class: 'btn btn-lg btn-special dark form-control', style: 'min-width:auto;max-width:25%;' %>
          <% end %>
        </div>

        <% end %>
      </div>
    </div>

</div>

<%= render partial: 'shared/modal_dialog' %>