<div class='container'>
  <div class='row'>
    <div class='col-lg-12'>
        <%= render partial: 'shared/page_header', object: 'My Dashboard' %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='panel panel-default' style='margin:15px;'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Quickies</h3>
      </div>
      <div class='panel-body'>

        <div class='col-lg-4'>
          <div class='thumbnail'>
            <i class='fa fa-user fa-md'></i>
            <div class='caption'>
              <h3>Create a Profile</h3>
              <p class='blurb'>Create a new profile so other users can find and connect with you.</p>
              <p><%= link_to 'GO', new_profile_path, class: 'btn btn-lg btn-default btn-special' %></p>
            </div>
          </div>
        </div>

        <div class='col-lg-4'>
          <div class='thumbnail'>
            <i class='fa fa-users fa-md'></i>
            <div class='caption'>
              <h3>View My Profiles</h3>
              <p class='blurb'>View a list of profiles you've created/edit the profiles you've created.</p>
              <p><%= link_to 'GO', profiles_path, class: 'btn btn-lg btn-default btn-special' %></p>
            </div>
          </div>
        </div>

        <div class='col-lg-4'>
          <div class='thumbnail'>
            <i class='fa fa-search fa-md'></i>
            <div class='caption'>
              <h3>Search for Connections</h3>
              <p class='blurb'>Search for users you you might want to connect with.</p>
              <p><%= link_to 'GO', search_path, class: 'btn btn-lg btn-default btn-special' %></p>
            </div>
          </div>
        </div>

      </div> 
    </div> <!-- panel /-->
  </div>
</div>

<%= render partial: 'shared/dashboard/connections_widget', object: @all_connect_requests, as: :connect_requests %>