<% content_for :head do %>
  <%= javascript_include_tag 'sign-up' %>
<% end %>

<%= form_for resource, :url => user_registration_path,
                       :builder => InlineErrorsBuilder,
                       :method => :POST,
                       :role => :form do |f| %>
  <%= content_tag :div, :class => f.validation_class(:email, "form-group form-group-lg") do %>
    <%= f.email_field :email, placeholder: "Email", class: 'form-control', autocomplete: :off %>
    <%= f.errors_for :email %>
  <% end %>

  <%= content_tag :div, :class => f.validation_class(:password, "form-group form-group-lg") do %>
    <%= f.password_field :password, placeholder: "Password", class: 'form-control', autocomplete: :off %>
    <%= f.errors_for :password %>
  <% end %>

  <%= content_tag :div, :class => f.validation_class(:password, "form-group form-group-lg") do %>
    <%= f.password_field :password_confirmation, :placeholder => "Re-enter password", :class => 'form-control', autocomplete: :off %>
    <%= f.errors_for :password_confirmation %>
  <% end %>

  <%= content_tag :div, class: f.validation_class(:profile_type, 'form-group form-group-lg') do %>
    <%= label_tag SoftwareDeveloperProfile.name.underscore.to_sym, class: 'input-lg radio-inline' do %>
      <%= radio_button_tag :profile_type, SoftwareDeveloperProfile.name.underscore, false %>
      I'm a Software Developer
    <% end %>

    <%= label_tag TechnicalRecruiterProfile.name.underscore.to_sym, class: 'input-lg radio-inline' do %>
      <%= radio_button_tag :profile_type, TechnicalRecruiterProfile.name.underscore, true %>      
      I'm a Recruiter
    <% end %>
    <%= f.errors_for :profile_type %>
  <% end %>

<%
=begin
%>
  <%= content_tag :div, :class => f.validation_class(:referral_code, 'form-group-lg') do %>
    <%= f.text_field :referral_code, placeholder: 'Enter referral code', class: 'form-control', disabled: 'disabled' %>
  <% end %>
<%
=end
%>

  <div class='form-group form-group-lg'>
    <%= text_field_tag :referral_code, params[:referral_code], placeholder: 'Enter referral code', class: 'form-control', disabled: 'disabled' %>
  </div>

  <div class='form-group form-group-lg'>
    <span class='terms-agreements small'>By clicking Sign Up, you agree to our Terms and that you have read our Data Usage Policy, including our Cookie Use.</span>
  </div>

  <%= content_tag :div, class: "form-group form-group-lg panel" do %>  
    <%= f.submit 'Sign up', class: 'btn btn-lg btn-warning special-button form-control', style: 'width:100%;' %>
  <% end %>
<% end %>


