<p>Greetings <%= @resource.first_name %>,</p>

<p>Congratulations!</p>

<%
users_name = @user_profile.user.formatted_name
%>

<p><%= users_name %> has accepted your request to connect!</p>

<p>You may visit <%= "#{users_name}'s"%> contact information by clicking the below link:</p>

<p><%= link_to 'Click here to view contact information', profile_url(@user_profile) %></p>

<br />
<strong>Having trouble?</strong>
<p>If for any reason the above link does not work, simply copy &amp; paste the below link into your browser's address bar:</p>

<p><%= profile_url(@user_profile) %></p>

