<!DOCTYPE html>
<html>
<head>
  <title>ComRealcruiter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<span class='realcruiter-quote'>&quot;Your career, your way&quot;</span>
<%= render partial: 'shared/realcruiter_com_logo' %>

<%= yield %>

</body>
</html>
