<!DOCTYPE html>
<html>
<head>
  <title>Realcruiter.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if content_for? :head %>
    <%= yield :head %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='page-container'>
  <div class='header container'>
    <div style='display:inline-block; float:left; width:auto'>
      <span class='realcruiter-quote'>&quot;Your career, your way&quot;</span>
      <%= render partial: 'shared/realcruiter_com_logo' %>
    </div>
    <% if content_for? :right_header %>
      <%= yield :right_header %>
    <% end %>
  </div>

  <p class='notice'><%= notice %></p>
  <p class='alert'><%= alert %></p>
    
  <div class='container body'>
    <%= yield %>
  </div>
</div>

</body>
</html>
