<!DOCTYPE html>
<html>
<head>
  <title>Realcruiter.com</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if content_for? :head %>
    <%= yield :head %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='page-container'>
  <div class='container header'>
    <div class='row'>
      <div class='col-md-6'>
        <span class='realcruiter-quote'>&quot;Your career, your way&quot;</span>
        <%= render partial: 'shared/realcruiter_com_logo' %>
      </div>
      <div class='col-md-6'>
        <% if content_for? :right_header %>
          <%= yield :right_header %>
        <% elsif user_signed_in? %>
          <%= render partial: 'shared/toolbar' %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <%= render partial: 'shared/flash' if flash.any? %>
      </div>
    </div>
  </div>
    
  <div class='body'>
    <%= yield %>
  </div>
</div>

<% if content_for? :javascripts %>
  <%= yield :javascripts %>
<% end %>

</body>
</html>